<style>
  input {
    min-width: 150px;
    min-height: 32px;
    padding: 4px;
    border-radius: 4px;
  }
</style>

<div class="px-4 py-5 my-5">
  <h1 class="display-5 fw-bold text-center">Lottery Weekend 5 Project </h1>
  <p class="text-center">
    By Team 3 Intelstrata#0001, Brandon C.#8663, augustov#8298,
    benzo#5809, Meek#6464, tj_r#4071
  </p>

  <div class="container">
    <div class="col-lg-12 d-flex justify-content-center">
      <button type="button" class="btn btn-warning" (click)="connectWallet()">
        Connect Wallet
      </button>
      <button
        type="button"
        class="btn btn-primary mx-5"
        (click)="getBallotContractAddress()"
      >
        Get Lottery Contract Address
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="getTokenContractAddress()"
      >
        Get Lottery Token (ERC20) Contract Address
      </button>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row gap-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Wallet info</h5>
            <p class="card-text">
              <span class="fw-bold">Wallet address:</span> {{ userAddress }}
            </p>
            <p class="card-text">
              <span class="fw-bold">ETH Balance:</span>
              {{ userETHBalance ? userETHBalance + ' ETH' : '' }}
            </p>
            <p class="card-text">
              <span class="fw-bold">ERC20 Token Balance:</span>
              {{ userTokenBalance ? userTokenBalance + ' ETH' : '' }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Contracts info</h5>
            <p class="card-text">
              <span class="fw-bold"> Lottery Contract address:</span>
              {{ tokenizedBallotContractAddress }}
            </p>
            <p class="card-text">
              <span class="fw-bold"> Lottery Token (ERC20) Contract address:</span>
              {{ myTokenContractAddress}}
            </p>
            <p class="card-text">
              <span class="fw-bold">Total Supply: </span>
              {{ totalSupply ? totalSupply + ' ETH' : '' }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">1. Open Bets (Minting?)</h5>

            <div class="my-4">
              <div *ngIf="isWalletConnected">
                <input
                  #valueInput
                  class="input"
                  type="number"
                  min="0"
                  max="10"
                  placeholder="Token amount"
                />
                <button
                  type="button"
                  class="btn btn-primary mx-2"
                  (click)="requestTokens(valueInput.value)"
                >
                  Mint Token
                </button>
              </div>
            </div>

            <p *ngIf="loadingMintingTxnInfo">Transaction is loading......</p>

            <div *ngIf="mintingInfo || mintingError">
              <h5 class="card-title mb-4">Transaction info</h5>

              <div *ngIf="mintingError">
                <p class="card-text">
                  <span class="fw-bold">Error message:</span>
                  {{ mintingError.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Error details:</span>
                  {{ mintingError.detailedMessage }}
                </p>
              </div>

              <div *ngIf="mintingInfo">
                <p class="card-text">
                  <span class="fw-bold">Message:</span>
                  {{ mintingInfo.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Transaction hash:</span>
                  {{ mintingInfo.transactionHash }}
                </p>
                <p class="card-text">
                  <a href="{{ mintingInfo.etherscanLink }}" class="fw-bold"
                    >Etherscan link:</a
                  >
                  {{ mintingInfo.etherscanLink }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">2. Top Up Your Account</h5>

            <div class="my-4">
              <div *ngIf="isWalletConnected">
                <input
                  #valueInput
                  class="form-control"
                  class="input"
                  type="text"
                  placeholder="Address"
                />
                <button
                  type="button"
                  class="btn btn-primary mx-2"
                  (click)="delegate(valueInput.value)"
                >
                  Address to Top
                </button>
              </div>
            </div>

            <p *ngIf="loadingDelegatingTxnInfo">Transaction is loading......</p>

            <div *ngIf="delegatingInfo || delegatingError">
              <h5 class="card-title mb-4">Transaction info</h5>

              <div *ngIf="delegatingError">
                <p class="card-text">
                  <span class="fw-bold">Error message:</span>
                  {{ delegatingError.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Error details:</span>
                  {{ delegatingError.detailedMessage }}
                </p>
              </div>

              <div *ngIf="delegatingInfo">
                <p class="card-text">
                  <span class="fw-bold">Message:</span>
                  {{ delegatingInfo.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Transaction hash:</span>
                  {{ delegatingInfo.transactionHash }}
                </p>
                <p class="card-text">
                  <a href="{{ delegatingInfo.etherscanLink }}" class="fw-bold"
                    >Etherscan link:</a
                  >
                  {{ delegatingInfo.etherscanLink }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">3. Bet with your account</h5>

            <div class="my-4">
              <div *ngIf="isWalletConnected">
                <input
                  #voteProposal
                  class="input"
                  type="text"
                  placeholder="Proposal index"
                />
                <input
                  #voteAmount
                  class="input"
                  type="text"
                  placeholder="Amount"
                />
                <button
                  type="button"
                  class="btn btn-primary mx-2"
                  (click)="vote(voteProposal.value, voteAmount.value)"
                >
                  Vote
                </button>
              </div>
            </div>

            <p *ngIf="loadingVotingTxnInfo">Transaction is loading......</p>

            <div *ngIf="votingInfo || votingError">
              <h5 class="card-title mb-4">Transaction info</h5>

              <div *ngIf="votingError">
                <p class="card-text">
                  <span class="fw-bold">Error message:</span>
                  {{ votingError.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Error details:</span>
                  {{ votingError.detailedMessage }}
                </p>
              </div>

              <div *ngIf="votingInfo">
                <p class="card-text">
                  <span class="fw-bold">Message:</span> {{ votingInfo.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Transaction hash:</span>
                  {{ votingInfo.transactionHash }}
                </p>
                <p class="card-text">
                  <a href="{{ votingInfo.etherscanLink }}" class="fw-bold"
                    >Etherscan link:</a
                  >
                  {{ votingInfo.etherscanLink }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">4. Collect your winnings</h5>

            <div class="my-4">
              <div *ngIf="isWalletConnected">
                <button
                  type="button"
                  class="btn btn-primary mx-2"
                  (click)="getWinningProposal()"
                >
                  Winning Proposal
                </button>
              </div>
            </div>

            <p *ngIf="loadingWinningProposalTxnInfo">
              Transaction is loading......
            </p>

            <div *ngIf="winningProposalInfo || winningProposalError">
              <h5 class="card-title mb-4">Transaction info</h5>

              <div *ngIf="winningProposalError">
                <p class="card-text">
                  <span class="fw-bold">Error message:</span>
                  {{ winningProposalError.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Error details:</span>
                  {{ winningProposalError.detailedMessage }}
                </p>
              </div>

              <div *ngIf="winningProposalInfo">
                <p class="card-text">
                  <span class="fw-bold">Message:</span>
                  {{ winningProposalInfo.message }}
                </p>
                <p class="card-text">
                  <span class="fw-bold">Transaction hash:</span>
                  {{ winningProposalInfo.transactionHash }}
                </p>
                <p class="card-text">
                  <a
                    href="{{ winningProposalInfo.etherscanLink }}"
                    class="fw-bold"
                    >Etherscan link:</a
                  >
                  {{ winningProposalInfo.etherscanLink }}
                </p>
              </div>
                <div style="border: 1px solid black; padding: 10px;">
  <h2>Lottery Information</h2>
  <p>ETH Balance: <span id="eth-balance"></span></p>
  <p>Time Left to Buy: <span id="time-left"></span></p>
  <p>Tokens Remaining: <span id="tokens-remaining"></span></p>
  <p>Winning Numbers: <span id="winning-numbers"></span></p>
</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
